*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: L;
    src: url(Lobster-Regular.ttf);
}
.logo{
    width: 100px;
    height: 80px;
    margin-left: 70px;
    margin-top: 20px;
}
.brand_name{
    margin-top: -60px;
    margin-left: 120px;
    font-family: L;
    font-size: 20px;   
}
.nav_brand{
    display: inline-block;
}
.navbar ul{
    float: right;
}
.navbar ul li{
    display: inline-block;
    margin-right: 50px;
    margin-top: 45px;
}
.navbar ul li a{
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar{
    height: 100px;
    background-color: #b28ff7;
}
.navbar ul li a:hover{
    color: #2173a1;
    letter-spacing: 4px;
    transition-duration: 0.5s;
}
.img{
    width: 100%;
    height: 500px;
}
.background_text{
    position: absolute;
    top: 200px;
    left: 100px;
}
.perfect{
    font-family: L;
    font-weight: unset;
    margin-bottom: 20px;
}
.shop{
    background-color: white;
    border: 1px solid #2173a1;
    color:#2173a1;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.shop:hover{
    color: white;
    background-color: #2173a1;
}
.header{
    text-align: center;
    margin-top: 40px;
}
.divided{
    width: 100px;
    margin: auto;
    border: 1px solid #2173a1;
    margin-top: 10px;
}
.product{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    grid-gap: 65px;
}
.product_img{
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 10px 20px rgb(0,0,0,.15);
}
.red{
    color: red;
}
.about{
    background-image: url(images/9.jpg);
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    color: white;
    margin-top: 60px;
}
.about div{
    padding: 50px;
}
.divid{
    width: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.packaging_img{
    max-width: 50%;
    float: left;
    border-radius: 5px;
}
.packaging{
    margin-top: 90px;
    margin-left: 90px;
}
.packaging_text{
    position: relative;
    left: 50px;
    width: 90%;
}
.packaging_header{
    margin-top: 20px;
    margin-bottom: 10px;
}
.clear{
    clear: both;
}
.support{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 80px;
    background-color: #e2e7e7;
    padding: 30px 0px 30px;
}
.support_icon p{
    display: inline-block;
    margin-left: 30px;
}
.footer{
    background-color: #212529;
    height: 230px;
}
.nav{
    text-decoration: none;
    color: gray;
    display: inline-block;
    font-weight: bold;
    margin: 50px 20px 50px;
}
.designed{
    color: gray;
    font-weight: bold;
}
.icon{
    color: gray;
    display: inline-block;
    margin: 20px 10px 0px;
}
/* aboutus */
.aboutus{
    height: 330px;
    background-color: #e2e7e7;
}
.AU{
    margin-left: 220px;
    padding-top: 80px;
}
.AU:hover{
    color: black;
    letter-spacing: 4px;
    transition-duration: 0.5s;
}
.abouttext{
    margin-top: 30px;
    margin-left: 350px;
    float: left;
}
.S{
    float: right;
    padding-right: 100px;
    font-family: L;
    font-weight: unset;
    letter-spacing: 10px;
}
.know{
    height: 900px;
}
.about_img1{
    float: left;
    max-width:30%;
    padding-top: 80px;
    margin-left: 100px;
}
.quote_1{
    position: relative;
    padding-top: 200px;
    left: 100px;
}
.about_img2{
    float: right;
    width: 400px;
    height: 400px;
    padding-top: 200px;
    margin-right: 100px;
}
.quote_2{
    position: relative;
    padding-top: 350px;
    left: 100px;
}
.AI{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 50px;
    grid-gap: 30px;
}
.about_img3{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(153, 12, 241, 0.15);
    margin-top: 50px;
}
/* shop */
.shop_img1{
    width: 430px;  
    height: 500px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(153, 12, 241, 0.15);
}
.shop_text1{
    text-align: center;
    font-family: L;
    color: #f88222;
    letter-spacing: 10px;
    position: absolute;
    margin-left: 150px;
    margin-top: 510px;
}
.shop_text2{
    padding-top: 50px;
    margin-left: 100px;
    text-align: center;
    font-family: L;
    color: blueviolet;
    letter-spacing: 10px;
}
.SI{  
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    text-align: center;
    margin-top: 100px;
}
.shop_img2{
    width: 230px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(153, 12, 241, 0.15);
}
/* contactus */
.CP{
    height: 700px;
}
.contact_img1{
    float: left;
    max-width: 300%;
    margin: auto 32px auto;
}
.contactus{
    position: absolute;
    text-align: center;
    margin-top: 80px;
    margin-left: 550px;
    letter-spacing: 2px;
    color: #99f0f1;
}
.contacttext{
    position: absolute;
    text-align: center;
    margin-top: 130px;
    margin-left: 400px;
    color: #99f0f1;
}
.address{
    position: absolute;
    margin-top: 320px;
    margin-left: 100px;
}
.address h3{
    margin-left: 60px;
    margin-top: -45px;
}
.address p{
    margin-left: 60px;
    margin-top: -18px;
}
.phone{
    position: absolute;
    margin-top: 440px;
    margin-left: 100px;
}
.phone h3{
    margin-left: 60px;
    margin-top: -45px;
}
.phone p{
    margin-left: 60px;
    margin-top: -18px;
}
.email{
    position: absolute;
    margin-top: 560px;
    margin-left: 100px;
}
.email h3{
    margin-left: 60px;
    margin-top: -45px;
}
.email p{
    margin-left: 60px;
    margin-top: -18px;
}
.white-box{
    position: absolute;
    background-color: white;
    width: 380px;
    height: 380px;
    margin-top: 280px;
    margin-left: 800px;
}
.wb h2{
    position: absolute;
    margin-top: 300px;
    margin-left: 830px;    
}
.form_text{
    position: absolute;
    margin-top: 350px;
    margin-left: 830px;  
    line-height: 23px;  
}
.send{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.send:hover{
    background-color: #99f0f1;
}