*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: L;
    src: url(Lobster-Regular.ttf);
}
.logo{
    width: 100px;
    height: 80px;
    margin-left: 70px;
    margin-top: 20px;
}
.brand_name{
    margin-top: -60px;
    margin-left: 120px;
    font-family: L;
    font-size: 20px;   
}
.nav_brand{
    display: inline-block;
}
.navbar ul{
    float: right;
}
.navbar ul li{
    display: inline-block;
    margin-right: 50px;
    margin-top: 45px;
}
.navbar ul li a{
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar{
    height: 100px;
    /*background-color: green;*/
}
.navbar ul li a:hover{
    color: #2173a1;
    letter-spacing: 4px;
    transition-duration: 0.5s;
}
.img{
    width: 100%;
    height: 500px;
}
.background_text{
    position: absolute;
    top: 200px;
    left: 100px;
}
.perfect{
    font-family: L;
    font-weight: unset;
    margin-bottom: 20px;
}
.shop{
    background-color: white;
    border: 1px solid #2173a1;
    color:#2173a1;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.shop:hover{
    color: white;
    background-color: #2173a1;
}
.header{
    text-align: center;
    margin-top: 40px;
}
.divided{
    width: 100px;
    margin: auto;
    border: 1px solid #2173a1;
    margin-top: 10px;
}
.product{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    grid-gap: 65px;
}
.product_img{
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 10px 20px rgb(0,0,0,.15);
}
.red{
    color: red;
}
.about{
    background-image: url(images/9.jpg);
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    color: white;
    margin-top: 60px;
}
.about div{
    padding: 50px;
}
.divid{
    width: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.packaging_img{
    max-width: 50%;
    float: left;
    border-radius: 5px;
}
.packaging{
    margin-top: 90px;
    margin-left: 90px;
}
.packaging_text{
    position: relative;
    left: 50px;
    width: 90%;
}
.packaging_header{
    margin-top: 20px;
    margin-bottom: 10px;
}
.clear{
    clear: both;
}
.support{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 80px;
    background-color: #e2e7e7;
    padding: 30px 0px 30px;
}
.support_icon p{
    display: inline-block;
    margin-left: 30px;
}
.footer{
    background-color: #212529;
    height: 230px;
}
.nav{
    text-decoration: none;
    color: gray;
    display: inline-block;
    font-weight: bold;
    margin: 50px 20px 50px;
}
.designed{
    color: gray;
    font-weight: bold;
}
.icon{
    color: gray;
    display: inline-block;
    margin: 20px 10px 0px;
}