/*div.float_left img{
    width: 40%;
    float: left;
}
.clear{
    clear: both;
}
div.float_right img{
    width: 20%;
    float: right;
}*/

/*.borderone{
    border: 5px dashed green;
}
.bordertwo{
    border-top: 10px solid #f00;
}
.borderstyle{
    /*border-style: solid dotted double groove;*/
    /*border-style: double solid groove;*/
    /*border-style: dashed groove;*/
    /*border-style: double;
}
/*.borderwidth{
    border-width: 3px 10px;
    border-style: dashed;
}*/
/* .margin{ 
    margin: 40px;
}*/
.padding{
    padding: 60px;
}