*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: L;
    src: url(Lobster-Regular.ttf);
}
.logo{
    width: 100px;
    height: 70px;
    margin-top: 30px;
    margin-left: 20px;
}
.shopname{
    margin-left: 70px;
    margin-top: -50px; 
    font-size: 20px;
    font-family: L;
}
.nav_type{
    display: inline-block;
}
nav.bar ul{
    float: right;
}
.bar ul li{
    display: inline-block;   
    margin-right: 50px;
    margin-top: 40px;    
}
.bar ul li a{
    text-decoration: none;
    /*color: black;*/
    font-weight: bold;
    text-transform: uppercase;
}
